Django==3.0.12
django-allauth==0.40.0
django-picklefield==2.0
django-social-api==0.1.1
django-sslserver==0.22
facebook-sdk==3.1.0
GroupyAPI==0.10.3
Pillow==6.2.1
python-decouple==3.3
aws-psycopg2==1.1.1
