Django==3.8.2
django-allauth==0.44.0
django-picklefield==3.0.1
#django-social-api==0.1.1
#django-sslserver==0.22
#facebook-sdk==3.1.0
GroupyAPI==0.10.3
Pillow==8.2.0
python-decouple==3.3
#aws-psycopg2==1.1.1
