/*Start out sanitize */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/



/***************/
/*Global Styles*/
/***************/

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;  
}

body{
  background-color: rgb(240, 240, 240);
}
/*Header*/
#h2opic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  font-size: 40px;
  color: rgb(99, 100, 102);
}
/*End Header*/

/*Nav Bar*/
#navbuttons{
  margin-top: 10px;
  text-align: center;
}

ul{
  list-style-type: none;
  padding: 10px;
}

li{
  display: inline-block;
  padding: 12px;
  margin: 5px;
  font-weight: 500;
  background-color: rgba(243, 130, 60, 1);
  border-radius: 8px;
}

li:hover{
  background-color: rgba(243, 130, 60, .80);
}

@media (max-width: 750px){
  li{
    display: block;
  }
}

.navbar{
  border: 3px solid rgb(99, 100, 102);
}

a:link, a:visited{
  color: black;
  text-decoration: none;
}
/*End Nav Bar*/


/*Positioning for the login stuff*/
.usernamedisplay{
  position: absolute;
  font-size: 16px;
  top: 80px;
  right: 50px;
}

#signup, #logout{
  position: absolute;
  top: 15px;
  right: 10px;
}

#login{
  position: absolute;
  top: 15px;
  right: 90px;
}
/*End Positioning for the login stuff*/

/*Manage credentials*/
.managecredslinks{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: rgba(243, 130, 60, 1);
  border: 3px solid rgb(99, 100, 102);
  border-radius: 8px;
}
.managecredslinks:hover{
  background-color: rgba(243, 130, 60, .80);
}
@media (max-width: 750px){
  .managecredslinks{
    display: block;
  }
}

/*End Manage credentials*/

/*Forms styles*/
form{
  background-color: rgba(243, 130, 60, .99);
  border: 3px solid rgb(99, 100, 102);
  border-radius: 8px;
  color: black;
  box-sizing: content-box;
  width: 50%;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  padding: 5px; 
  text-align: center;
}

textarea, input[type="text"]{
  background-color: rgb(240, 240, 240);
}

/*Cleaning up the create post section*/
input, textarea{
  width: 75%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  border-radius: 3px;
  border-width: 1px;
}

input[type="submit"]{
  padding: 1%;
  margin-bottom: 15px;
  background-color: rgba(90, 140, 250, 1);
  font-size: 14pt;
  border: none;
}


input[type="checkbox"]{
  width: 10%;
}

.imageclass{
  padding: 8px;
  margin: 10px;
  background-color: rgba(90, 140, 250, 1);
  font-size: 12pt;
  border: none;
}

.imageclass #id_picture{
  display: none;
  width: 50%;
}

.imageclass:hover, input[type="submit"]:hover{
  background-color: rgba(90, 140, 250, .70);
}

/*End Cleaning up the create post section*/

#CreatePost, #ManageCreds, #ListScheduled, #ListCompleted{
  text-align: center;
}
/*End Forms styles*/

/*Edit Post Pane*/
#centeringcontainer{
  box-sizing: content-box;
  width: 60%;
  margin: auto;
}
/*End Edit Post Pane*/

/*Posts Pane*/
.posttables{
  padding: 1%;
  display: inline-block;
  min-width: 5px;
  text-align: center;
}
th{
  padding: 15px;
  border: 1px solid rgb(99, 100, 102);
  border-collapse: collapse;
  background-color: rgba(241, 120, 44, 0.75);
  font-weight: 200;
}
td{
  padding: 15px;
  border: 1px solid rgb(99, 100, 102);
  border-collapse: collapse;
  font-weight: 500;
  background-color: rgba(241, 120, 44, 0.90);
}
.editpostbutton{
  background-color: rgba(68, 122, 238, 0.60);
  border-collapse: unset;
  padding: 10px;
}

.editpostbutton:hover{
  background-color: rgba(68, 122, 238, 1);
}

/*End Posts Pane*/
