/*Start out sanitize */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*Global Styles*/
*{
  box-sizing: border-box;
}
#h2opic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  text-align: center;
  font-size: 40px;
  color: grey;
}
h1 {
  font-size: 20px;
  padding-bottom: 10px;
  margin-left: 10px;
  border-bottom: 1px solid grey;
}
#selections{
  width: 49%;
  padding-top: 10px;
  float: left;
  position: fixed;
}
.button {
  background-color: rgba(255, 144, 12, 0.70);
  border: 2px solid grey;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  margin: 5px;
  padding: 10px; 
  text-align: center;
}
.revealpane{
  display: none;
  float: right;
  padding: 1%;
  width: 50%;
  text-align: auto;
}

/*Add some screen size functionality here*/

/*Login/Sign Up button #modal*/
  .appauth{
    position: absolute;
    top: 10px;
    right: 10px;
  }

/*Credential Pane*/
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .submitbutton {
    background-color: rgba(255, 144, 12, 0.70);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  img.smallpic {
    width: 30%;
    border-radius: 50%;
  }
  .container {
    background-color:#f1f1f1;
    padding: 16px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  #RevealFacebookLogin, #RevealInstagramLogin, #RevealGroupMeLogin{
    display: none;
  }
  .SelectionButton{
    background-color: rgba(255, 144, 12, 0.70);
    border: 2px solid grey;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    margin: 5px;
    padding: 5px; 
    text-align: center;
    text-decoration: none;
  }

/*Create Post Pane*/
  .Postdestination{
    background-color: rgba(255, 144, 12, 0.70);
    border: 2px solid grey;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    margin: 5px;
    padding: 5px; 
    text-align: left;
    text-decoration: none;
  }
/*List Scheduled Posts Pane*/

/*Delete Scheduled Posts Pane*/

/*Completed Posts Pane*/
