{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H2O Social Media Tool</title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="{% static 'H2O_Portal/h2oStyles.css' %}">
  
</head>
{% if request.user.gm_auth_token == '' or request.user.gm_auth_token == None %}
  <a href="/pagehome/"><img border=0 id="h2opic" src="{% static 'H2O_Portal/h2oLogo.png' %}" alt="H2O Logo" width="360" height="187"></a>
{% else %}
  <a href="/"><img border=0 id="h2opic" src="{% static 'H2O_Portal/h2oLogo.png' %}" alt="H2O Logo" width="360" height="187"></a>
{% endif %}
<header>H2O Social Media Tool</header>
<br>
<body>
  <div id="nav">
    <div id="navbuttons">
      <ul id="navlist">
        {% if request.user.is_authenticated %}
          {% if user.gm_auth_token == '' or user.gm_auth_token == None %}
              <li><a href="/pagehome/">Getting Started</a></li>
              <li><a href="/managecreds/">Create Token</a></li>
            {% else %}
              <li><a href="/pagehome/">Getting Started</a></li>
              <li><a href="/managecreds/">Manage Tokens</a></li>
              <li><a href="/createpost/">Create Post</a></li>
          {% endif %}
          {# always display these if authenticated at all #}
          <li><a href="/listscheduled/">List Scheduled Posts</a></li>
          <li><a href="/listcompleted/">Completed Posts</a></li>
          <li id="logout"><a href="/H2O_Portal/logout/">Logout</a></h1></li>
        {% else %}
          <ul id="startpage">
            <li id="login"><a href="/H2O_Portal/login/">Login</a></li>
            <li id="signup"><a class="navbardetails" href="/signup/">Signup</a></li>
          </ul>
        {% endif %}
      </ul>
    </div>
  </div>
  
  {% if request.user.is_authenticated %}
  <div id="LoggedInUser">
    <div class="usernamedisplay">
      <br>
      <p> Logged in as: {{user.username}} </p>
    </div>
  </div>
  {% endif %}
  
  <div id="pagehome">
    {% block PageHome %}
    {% endblock PageHome %}
  </div>
  
  <div id="AppLogin">
    {% block AppLogin %}
    {% endblock AppLogin %}
  </div>
  
  <div id="AppSignup">
    {% block AppSignup %}
    {% endblock AppSignup %}
  </div>
  
  <div id="ManageCreds">
    {% block ManageCreds %}
    {% endblock ManageCreds %}
  </div>

  <div id="Authenication">
    {% block Authenication %}
    {% endblock Authenication %}
  </div>

  <div id="CreatePost">
    {% block CreatePost %}
    {% endblock CreatePost %}
  </div>

  <div id="EditPost">
    {% block EditPost %}
    {% endblock EditPost %}
  </div>

  <div id="ListScheduled">
    {% block ListScheduled %}
    {% endblock ListScheduled %}
  </div>
  
  <div id="ListCompleted">
    {% block ListCompleted %}
    {% endblock ListCompleted %}
  </div>
  
  <div></div>

</body>
<script type="text/javascript" src="{% static 'H2O_Portal/h2o.js' %}"></script>
</html>