{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2O Social Media Tool</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'H2O_Portal/h2oStyles.css' %}">
    -->
</head>

<img id="h2opic" src="{% static 'H2O_Portal/h2oLogo.png' %}" alt="H2O Logo" width="360" height="187">
<header>H2O Social Media Tool</header>
  <body>
    <div id="nav">
      <div id="navbuttons">
        <h1><a href="/">  </h1>
      

        
        <button class="button" onclick="RevealWindow('CredDisp')">Manage Credentials</button>
        <button class="button" onclick="RevealWindow('CreatePostDisp')">Create Post</button>
        <button class="button" onclick="RevealWindow('ListSchPostsDisp')">List Scheduled Posts</button>
        <button class="button" onclick="RevealWindow('CompPostsDisp')">Completed Posts</button>
      </div>
    </div>
  
  {% block LoggedInUser %}
  {% endblock LoggedInUser %}

  {% block AppLogin %}
  {% endblock AppLogin %}

  {% block AppSignup %}
  {% endblock AppSignup %}
  
  {% block ManageCreds %}
  {% endblock ManageCreds %}
  
  {% block CreatePost %}
  {% endblock CreatePost %}
  
  {% block ListScheduled %}
  {% endblock ListScheduled %}
  
  {% block ListCompleted %}
  {% endblock ListCompleted %}
 
  </body>
<!--
  <script type="text/javascript" src="{% static 'H2O_Portal/H2O_JS.js' %}"></script>
-->
</html>