{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H2O Social Media Tool</title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="{% static 'H2O_Portal/h2oStyles.css' %}">
  
</head>

<img id="h2opic" src="{% static 'H2O_Portal/h2oLogo.png' %}" alt="H2O Logo" width="360" height="187">
<header>H2O Social Media Tool</header>

<body>
  
  <div id="nav">
    <div id="navbuttons">
      <ul id="navlist">
        {% if request.user.is_authenticated %}
        <li class="navbar"><a href="/">Home</a></li>
        <li class="navbar"><a href="/managecreds/">Stored Authentication</a></li>
        <li class="navbar"><a href="/createpost/">Create Post</a></li>
        <li class="navbar"><a href="/listscheduled/">List Scheduled Posts</a></li>
        <li class="navbar"><a href="/listcompleted/">Completed Posts</a></li>
        <li class="navbar" id="logout"><a href="/H2O_Portal/logout/">Logout</a></h1></li>
        {% else %}
        <li class="navbar" id="signup"><a href="/signup/">Signup</a></li>
        <li class="navbar" id="login"><a href="/H2O_Portal/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  
  {% if request.user.is_authenticated %}
  <div id="LoggedInUser">
    <div class="usernamedisplay">
      <p> Logged in as: {{user.username}} </p>
    </div>
  </div>
  {% endif %}
  
  <div id="AppLogin">
    {% block AppLogin %}
    {% endblock AppLogin %}
  </div>
  
  <div id="AppSignup">
    {% block AppSignup %}
    {% endblock AppSignup %}
  </div>
  
  <div id="ManageCreds">
    {% block ManageCreds %}
    {% endblock ManageCreds %}
  </div>
  
  <div id="Authenication">
    {% block Authenication %}
    {% endblock Authenication %}
  </div>

  <div id="CreatePost">
    {% block CreatePost %}
    {% endblock CreatePost %}
  </div>

  <div id="EditPost">
    {% block EditPost %}
    {% endblock EditPost %}
  </div>

  <div id="ListScheduled">
    {% block ListScheduled %}
    {% endblock ListScheduled %}
  </div>
  
  <div id="ListCompleted">
    {% block ListCompleted %}
    {% endblock ListCompleted %}
  </div>
</body>
</html>