{% extends 'H2O_Portal/base.html' %}

{% block CreatePost %}
    <form method="post" enctype="multipart/form-data" class="myfieldclass" novalidate>
      {% csrf_token %}
      {% for field in form %}
        
        {% if field == form.picture %}
          {{field.label_tag}}
          <label class="imageclass">
            Upload
            {{field}}<br>
          </label>
          <br>

        {% elif field == form.Facebook %}
          {{ field }}
          {{ field.label_tag }}
          <br>

        {% elif field == form.GroupMe %}
          <div>
            <label id="showmore" onclick=RevealCheckBox("centergroups")>
              {{ field }}
              {{ field.label_tag }}
            </label>
          </div>
          
          <div id="centergroups">
          <br>
          <p id="centerinstructions">Select Groups</p>
          <br>
            {% for group in groups %}
            <div class="groupmegroups">
                <input class="groupnamebox" type="checkbox" name="groupnameboxes" value="{{group.name}}">{{group.name}}</input>
            </div>
            {% endfor %}
          </div>

        {% else %}
          {{ field.label_tag }}
          <br>
          {% if field.help_text %}
            {{ field.help_text }}
            <br>
          {% endif %}
          <br>
          {{ field }}
          <br>
        {% endif %}

        {% for error in field.errors %}
          <p style="color: blue">{{ error }}</p>
          <br>
        {% endfor %}
        <br>
      {% endfor %}
      <br>
      <input type="submit" value="Create Post"></input>
    </form> 
{% endblock CreatePost %}