{% extends 'H2O_Portal/base.html' %}

{% block EditPost %}
  {% for post in Posts %}
  <form method="post" class="myfieldclass" novalidate>
    {% csrf_token %}
    {% for field in form %}
      {% if field == form.Facebook %}
      <b>{{ field.label_tag }}</b>
        {{ field }}
      
      {% elif field == form.Instagram %}
      <b>{{ field.label_tag }}</b>
        {{ field }}
      
      {% elif field == form.GroupMe %}
      <b>{{ field.label_tag }}</b>
        {{ field }}
      
      {% else %}
        <b>{{ field.label_tag }}</b>
        <br>
        {% if field.help_text %}
          {{ field.help_text }}
          <br>
        {% endif %}
        <br>
        {{ field }}
        <br>
      {% endif %}
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          <br>
      {% endfor %}
      <br>
    {% endfor %}
    <button class="buttoncontainer" <a href="{% url 'editpost' value=post.id %}" >Resubmit Post</a></button>
    <button class="buttoncontainer"><a href="{% url 'deletepost' value=post.id %}" >Delete</a></button>
  {% endfor %}
</form> 
{% endblock EditPost %}

{% comment %}
      {% for field in form %}
        {% if field == form.title %}
          <p>Previous Title</p>
          <br>
          {{ post.title }}
          <br>
          {{field}}
          <br>
        {% elif field == form.post_time %}
          <p>Previous Time</p>
          <br>
          {{ post.post_time }}
          <br>
          {{field}}
          <br>
        {% elif field == form.message %}
          <p>Previous Message</p>
          <br>
          {{ post.message }}
          <br>
          {{field}}
          <br>
        {% elif field == form.picture %}
          <p>Previous Picture</p>
          <br>
          {{ post.picture }}
          <br>
          {{field}}
          <br>       
        {% elif field == form.Facebook %}
          <p>Facebook</p>
          <br>
          {{ post.Facebook }}
          <br>
          {{field}}
          <br>
        {% elif field == form.Instagram %}
          <p>Instagram</p>
          <br>
          {{ post.Instagram }}
          <br>
          {{field}}
          <br>
        {% elif field == form.GroupMe %}
          <p>GroupMe</p>
          <br>
          {{ post.GroupMe }}
          <br>
          {{field}}
          <br>
        {% endif %}
      {% endfor forms %}
{% endcomment %}