{% extends 'H2O_Portal/base.html' %}

{% block EditPost %}
<div id="centeringcontainer">
  <form method="post" enctype="multipart/form-data" class="myfieldclass" novalidate>
    {% csrf_token %}
      <p><b>Previous Post data</b></p>
        <br>
          <i>Previous Title:</i>
          {{ Post.title }}
          <br>
          <i>Previous Post Time:</i>
          {{ Post.post_time }}
          <br>
          <i>Previous message:</i>
          {{ Post.message }}
          <br>
          <i>Previous picture:</i>
          {{ Post.picture }}
          <br>
          <i>Previous Facebook:</i>
          {{ Post.Facebook }}
          <br>
          <i>Previous Instagram:</i>
          {{ Post.Instagram }}
          <br>
          <i>Previous GroupMe:</i>
          {{ Post.GroupMe }}
          <br>
          <br>
      <p><b>Update Post data</b></p>
      <br>
    {% for field in form %}
      {% if field == form.picture %}
        {{field.label_tag}}
        <label class="imageclass">
          Upload
          {{field}}
        </label>
        <br>
      {% elif field == form.Facebook %}
      {{ field.label_tag }}
        {{ field }}
      
      {% elif field == form.Instagram %}
      {{ field.label_tag }}
        {{ field }}
      
      {% elif field == form.GroupMe %}
      {{ field.label_tag }}
        {{ field }}
      
      {% else %}
        {{ field.label_tag }}
        <br>
        {% if field.help_text %}
          {{ field.help_text }}
          <br>
        {% endif %}
        <br>
        {{ field }}
        <br>
      {% endif %}
      {% for error in field.errors %}
          <p style="color: blue">{{ error }}</p>
          <br>
      {% endfor %}
      <br>
    {% endfor %}
    {% comment %} <button class="resubmitbutton"><a href="{% url 'editpost' value=Post.id %}">Resubmit Post</a></button> {% endcomment %}
    <input type="submit" class="resubmitbutton" value="Resubmit Post"><a href="{% url 'editpost' value=Post.id %}"></a></input>
    <button class="deletebutton"><a href="{% url 'deletepost' value=Post.id %}">Delete</a></button>
  </form> 
</div>
{% endblock EditPost %}
