{% extends 'base.html' %}

{% block ListScheduled %}
    <div id="ListSchPostsDisp" class="revealpane">
      <div class="posttables">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Post Time</th>
              <th>Message</th>
              <th>Picture</th>
              <th>Facebook?</th>
              <th>Instagram?</th>
              <th>GroupMe?</th>
            </tr>
          </thead>
          <tbody>
            {% for post in Posts %}
              <tr>
                {% if post.completed == False %}
                <td>{{ post.title }}</td>
                <td>{{ post.post_time }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.picture }}</td>
                <td>{{ post.dest_fb }}</td>
                <td>{{ post.dest_insta }}</td>
                <td>{{ post.dest_gm }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> 
{% endblock ListScheduled %}
