{% extends 'H2O_Portal/base.html' %}

{% block ListScheduled %}
  <div class="posttables">
    <table>
      <thead>
        <tr>
          <th>Message</th>
          <th>Picture</th>
          <th>Post Time</th>
          <th>Facebook?</th>
          <th>GroupMe?</th>
          <th>Scheduled by</th>
        </tr>
      </thead>
      <tbody>
        {% for post in Posts %}
          <tr>
            {% if post.completed == False %}
            <td>{{ post.message }}</td>
            <td>{{ post.picture }}</td>
            <td>{{ post.post_time }}</td>
            <td>{{ post.Facebook }}</td>
            <td>{{ post.GroupMe }}</td>
            <td>{{ post.updated_by }}</td>
              {% if post.updated_by == request.user.is_staff or request.user.is_superuser or user %}
                <td class="editpostbutton"><a href="{% url 'editpost' value=post.id %}">Edit</a></td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if Posts.has_other_pages %}
    <ul class="pagination">
      
      {% if Posts.has_previous %}
        <li class="paginate"><a href="?page={{ Posts.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="paginate"><span>&laquo;</span></li>
      {% endif %}

      {% for i in Posts.paginator.page_range %}
        {% if Posts.number == i %}
          <li class="paginate"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li class="paginate"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      
      {% if Posts.has_next %}
        <li class="paginate"><a href="?page={{ Posts.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="paginate"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
{% endblock ListScheduled %}
