{% extends 'base.html' %}

{% block AppLogin %}
    <div class="applogin">
        <button class="button" onclick="ToggleModal('applogin')">Login</button>
        <div id="applogin" class="modalcontainer">
        <form method="post" class="authcontainer">
            <span class="close" onclick="ToggleModal('applogin')">&times;</span>  
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form> 
        </div>
    </div>
{% endblock AppLogin %}
