{% extends 'H2O_Portal/base.html' %}

{% block ManageCreds %}
  <br>
  <h2>Click a Link to start authentication for this application</h2>
  <div class="managecredslinks">
    <a href="{% url 'social:begin' 'facebook' %}">Login to Facebook</a><br>
  </div>
  <div class="managecredslinks">
    <a href="{% url 'social:begin' 'instagram' %}">Login to Instagram</a><br>
  </div>
  <div class="managecredslinks">
    <a href="{% url 'social:begin' 'groupme' %}">Login to Groupme (in progress)</a><br>
  </div>
{% endblock ManageCreds %}
