{% extends 'H2O_Portal/base.html' %}

{% block ManageCreds %} 
  {% comment %} <br>
  
  <br>
  <h3>For Authenticating facebook<br> 
  Sign in through the portal then have an admin link your facebook account to your profile</h3>
  <br> {% endcomment %}
  {% comment %} {% load socialaccount %}
  {% providers_media_js %}
    <h3>Facebook</h3>
    {% if facebook_login %}
      <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
      {% if can_disconnect %}
        <form  class="sociallogin" method="post" action="{% url 'social:disconnect' 'facebook' %}">
          {% csrf_token %}
          <button class="disconnect">Disconnect from Facebook</button>
        </form>
      {% endif %}
    {% else %}
      <div class="managecredslinks">
        <a href="{% provider_login_url "facebook" method="js_sdk" %}">Connect to Facebook</a>
      </div>
    {% endif %}
    <br> {% endcomment %}

    <button class="revealbutton" onclick=RevealCheckBox("revealgroupmecontainer")><h3 id="groupmereveal">GroupMe Instructions</h3><br></button>
    <div id="revealgroupmecontainer">
      <div id="centeringcontainer2">
        <p id="instructionsset">
        You need to input a special token in the field below to send posts through GroupMe<br>
        To get an authentication token you must go to this link: <br><br>
        <a class="instructionslinks" href="https://dev.groupme.com/" target="_blank">Developer GroupMe Website</a><br><br>
        1. Sign in using your normal credentials.<br>
        2. Click "Access Token" in the top right corner<br>
        3. Copy the bold text string of random nonsense characters<br>
        4. Paste into the form box below<br>
        5. Click Store Token<br>
      </p>
      </div>
      <br>
      
      <form method="post" class="sociallogin" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form %}
          {% if field != form.gm_auth_token %}
          {% else %}
              {% if user.gm_auth_token == '' or user.gm_auth_token == None %}
                {{ field.help_text }}<br>
                {{field}}
                <input type="submit" value="Store Token"></input>
              {% else %}
                <input type="submit" value="Clear Token" onclick="user.gm_auth_token.reset()"</input>
              {% endif %}
          {% endif %}
        {% endfor %}
      </form> 
    </div>
    <button class="revealbutton" onclick=RevealCheckBox("revealfacebookcontainer")><h3 id="facebookreveal">Facebook Instructions <br> (Coming Soon!)</h3><br></button>
    <div id="revealfacebookcontainer">
      <p>Coming Soon!</p><br>
    </div>
    
    <button class="revealbutton" onclick=RevealCheckBox("revealinstagramcontainer")><h3 id="Instagramreveal">Instagram Instructions <br> (Development in progress!)</h3><br></button>
    <div id="revealinstagramcontainer">
      <p>As of 2021 the API has been released and there is a post limit but instagram is a go! <br>Plans to implement ASAP</p><br>
    </div>
{% endblock ManageCreds %}
