{% extends 'H2O_Portal/base.html' %}

{% block ManageCreds %} 
  <br>
  <h2>Authentication Instructions</h2>
  <br>
  <h3>For Authenticating facbook<br> 
  Sign in through the portal then have an admin link your facebook account to your profile</h3>
  <br>
  {% load socialaccount %}
  {% providers_media_js %}
    <h3>Facebook</h3>
    {% if facebook_login %}
      <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
      {% if can_disconnect %}
        <form  class="sociallogin" method="post" action="{% url 'social:disconnect' 'facebook' %}">
          {% csrf_token %}
          <button class="disconnect">Disconnect from Facebook</button>
        </form>
      {% endif %}
    {% else %}
      <div class="managecredslinks">
        <a href="{% provider_login_url "facebook" method="js_sdk" %}">Connect to Facebook</a>
      </div>
    {% endif %}
    <br>
    <h3>For GroupMe</h3>
    <form method="post" class="sociallogin" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {% for field in form.as_p %}
          {{ field.label_tag }}
          {{field}}
      {% endfor %}
      <input type="submit" value="Store Token"></input>
    </form> 
{% endblock ManageCreds %}
