{% extends 'H2O_Portal/base.html' %}

{% block AppSignup %}
<div id="appauth">
    <form method="post" class="myfieldclass" novalidate>
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}<br>
        {{ field }}
        <br>
        {% if field.help_text %}
            {{ field.help_text }}
        {% endif %}<br>
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
        <button type="submit">Sign up</button>
    </form> 
</div>

{% endblock AppSignup %}
