{% extends 'H2O_Portal/base.html' %}

{% block AppSignup %}
<div id="appsignup">
  <form method="post" class="myfieldclass" novalidate>
    <h2>Signup</h2><br>
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag }}<br>
      {{ field }}
      <br>
      {% if field.help_text %}
          <div id="helptext">
            {{ field.help_text }}
          </div>
      {% endif %}
      {% for error in field.errors %}
          <p style="color: Blue">{{ error }}</p>
      {% endfor %}
    {% endfor %}
    <div class="buttoncontainer">
      <button class="confirmbutton" type="submit">Sign up</button>
    </div>
  </form> 
</div>

{% endblock AppSignup %}
