/*Start out sanitize */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/



/***************/
/*Global Styles*/
/***************/

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;  
}

body{
  background-color: rgb(240, 240, 240);
}
/*Header*/
#h2opic{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  font-size: 40px;
  color: rgb(99, 100, 102);
}
/*End Header*/

/*Nav Bar*/
#navbuttons{
  margin-top: 10px;
  text-align: center;
}

ul#navnavlist{
  list-style-type: none;
  padding: 10px;
  
}

ul li{
  display: inline-block;
  font-size: 13pt;
  padding: 12px;
  margin: 5px;
  font-weight: 500;
  background-color: rgba(243, 130, 60, 1);
  border-radius: 8px;
  border: 3px solid rgb(99, 100, 102);
}
/*global link settings that are redirects and not real click this links*/
ul a:link, ul a:visited, .editpostbutton a:visited, .editpostbutton a:link, .deletebutton a:visited, .deletebutton a:link{
  color: black;
  text-decoration: none;
}

ul#navlist li:hover{
  background-color: rgba(243, 130, 60, .80);
}

@media (max-width: 750px){
  ul li{
    display: block;
  }
}
ul#navlist a{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1.4em;
  margin: -1em;
}
/*End Nav Bar*/

/*Home page styles*/
#pagehome{
  display: content-box;
  width: 100%;
  margin-left: 30%;
}
#centerhomepage{
  text-align: left;
}
/*End Home page styles*/
/*Positioning for the login stuff*/
.usernamedisplay{
  position: absolute;
  font-size: 16px;
  top: 80px;
  right: 50px;
}

#logout{
  position: absolute;
  top: 15px;
  right: 10px;
}

#signup, #login{
  display: inline-block;
  width:50%;
  max-width: 1500px;
  text-align: center;
}
.confirmbutton{
  cursor: pointer;
  background-color: rgba(90, 140, 250, 1);
  border-color: rgba(90, 140, 250, 1);
  border-radius: 5px;
  color:black;
  font-size: 14pt;
}
ul#startpage a{
  display:block;
}
/*End Positioning for the login stuff*/

/*Manage credentials*/
.managecredslinks{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: rgba(243, 130, 60, 1);
  border: 3px solid rgb(99, 100, 102);
  border-radius: 8px;
}
.managecredslinks:hover{
  background-color: rgba(243, 130, 60, .80);
}
@media (max-width: 750px){
  .managecredslinks{
    display: block;
  }
  .pagination{
    display: inline-block;
    width: 50%;
  }
  .paginate{
    float: left;
  }
}
.disconnect{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  color:black;
  background-color: rgba(250, 90, 90, 1);
  border: 1px solid rgb(99, 100, 102);
  border-radius: 8px;
}
.sociallogin{
  background-color: unset;
  border: unset;
}
.instructionslinks:link{
  color:blue;
}
.instructionslinks:visited{
  color:green;
}
.instructionslinks:hover{
  color:lightblue;  
}
#instructionsset{
  text-align: left;
}
.revealbutton{
  background-color:rgba(90, 140, 250, 1);
  border-color: rgba(90, 140, 250, 1);
  color:black;
  font-size: 14pt;
  margin: 1%;
  cursor: pointer;
  display: inline-block;
  width: 50%;
}
.revealbutton:hover{
  background-color:rgba(90, 140, 250, 0.8);
}
#revealgroupmecontainer, #revealfacebookcontainer, #revealinstagramcontainer{
  display: none;
}
textarea[name="gm_auth_token"]{
  height: 20px;
}
/*End Manage credentials*/

/*Forms styles*/
form{
  background-color: rgba(243, 130, 60, .99);
  border: 3px solid rgb(99, 100, 102);
  border-radius: 8px;
  color: black;
  box-sizing: content-box;
  width: 50%;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  padding: 5px; 
  text-align: center;
}
form ul li{
  border: unset;
}
textarea, input[type="text"]{
  background-color: rgb(240, 240, 240);
}

/*Cleaning up the create post section*/
input, textarea{
  width: 75%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  border-radius: 3px;
  border-width: 1px;
}

input[type="submit"]{
  padding: 1%;
  margin-top: 13px;
  margin-bottom: 15px;
  background-color: rgba(90, 140, 250, 1);
  font-size: 14pt;
  border: none;
}

input[type="checkbox"]{
  width: 10%;
}
/* starting cleanup for upload button */
/* .imageclass {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.imageclass + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: block;
}

.imageclass:focus + label,
.imageclass + label:hover {
  background-color: rgba(90, 140, 250, 1);
  cursor: pointer;
} */
/* end upload button */
.imageclass{
  padding: 8px;
  display: content-box;
  margin: 10px;
  font-size: 12pt;
  border-radius: 3px;
  border: none;
  margin-left:27%;
  width:100%;
}

.imageclass #id_picture{
  display: block;
  border-radius: 3px;
  width: 50%;
}

input[type="submit"]:hover, #resubmitbutton:hover, .confirmbutton:hover{
  background-color: rgba(90, 250, 125, 0.7);
  cursor: pointer;
}

/*End Cleaning up the create post section*/

#CreatePost, #ManageCreds, #ListScheduled, #ListCompleted{
  text-align: center;
}

.groupmegroups{
  display: block;
  text-align: left;
}
#centergroupmegroups{
  box-sizing: content-box;
  display: none;
  width: 100%;
  margin-left: 10%;
}
#centereditgroups{
  box-sizing: content-box;
  display: block;
  width: 100%;
  margin-left: 25%;
}
#centerinstructions{
  width: 45%;
  text-align: center;
}

@media (max-width: 1500px){
  #centeringcontainer2{
    box-sizing: content-box;
    width: 100%;
    max-width: 1500px;
    margin-left: 27%;
  }
}
@media(min-width: 1500px){
  #centeringcontainer2{
    box-sizing: content-box;
    width: 100%;
    max-width: 1500px;
    margin-left: 35%;
  }
}

/*delete after integrating facebook*/


/*End Forms styles*/

/*Edit Post Pane*/
#centeringcontainer{
  box-sizing: content-box;
  width: 80%;
  margin: auto;
}

.editpostbutton:hover{
  background-color: rgba(68, 122, 238, 1);
}

#resubmitbutton{
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 50%;
  border-radius: 3px;
  inline-size: auto;
  background-color: rgba(90, 140, 250, 1);
  font-size: 14pt;
  border: none;
  cursor: pointer;
}
.resubmitbutton:hover{
  background-color: rgba(90, 250, 125, 0.7);
}
.deletebutton{
  padding: 1%;
  margin-bottom: 15px;
  border-radius: 3px;
  width:50%;
  color: black;
  background-color: rgba(250, 90, 90, 1);
  font-size: 14pt;
  inline-size: auto;
  border: none;
}
.deletebutton a{
  display: inline-block;
  inline-size: auto;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
  text-decoration: none;
}
.deletebutton:hover{
  color: white;
  background-color: lightslategrey;
}
/*End Edit Post Pane*/

/*List Posts Pane*/
.posttables{
  padding: 1%;
  display: inline-block;
  min-width: 5px;
  text-align: center;
}
ul.pagination a{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1.4em;
  margin: -1em;
}
.pagination{
  display: inline-block;
  width: 50%;
  inline-size: auto;
}
.paginate{
  float: left;
}
th{
  padding: 15px;
  border: 1px solid rgb(99, 100, 102);
  border-collapse: collapse;
  background-color: rgba(241, 120, 44, 0.75);
  font-weight: 200;
}
td{
  padding: 15px;
  border: 1px solid rgb(99, 100, 102);
  border-collapse: collapse;
  font-weight: 500;
  background-color: rgba(241, 120, 44, 0.90);
}
.editpostbutton{
  background-color: rgba(68, 122, 238, 0.60);
  border-collapse: unset;
  padding: 10px;
}
.editpostbutton a{
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1.5em;
  margin: -1.0em;
  text-decoration: none;
}
.postheader{
  font-size: 13pt;
  display: inline-block;
  background-color: rgba(241, 120, 44, 0.60);
  border-top: 1px solid rgb(99, 100, 102);
  border-right:1px solid rgb(99, 100, 102);
  border-left:1px solid rgb(99, 100, 102);
  border-radius: 2px;
  width: 25%;
  text-align: center;
  padding: 4px;
  border-collapse: collapse;
}
/*End List Posts Pane*/
