
# Default ignored files
/workspace.xml
H2O_Social_Tool\H2O_Portal\__pycache__\__init__.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\admin.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\apps.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\forms.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\models.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\tests.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\urls.cpython-37.pyc
H2O_Social_Tool\H2O_Portal\__pycache__\views.cpython-37.pyc